#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-header {
  &__title {
    background: -webkit-linear-gradient(blue, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
